@model TechBlog.Web.Areas.Admin.ViewModels.Tags.EditViewModel


<h2>Edit tag</h2>

<div class="row">
    <div class="col-md-6">
        @using (Html.BeginForm("Edit", "Tag", FormMethod.Post))
            {
            @Html.AntiForgeryToken()
            @Html.HiddenFor(m => m.ReturnUrl)
            @Html.HiddenFor(m => m.Tag.OriginalCode)

            <div class="form-horizontal">
                <div class="form-group">
                    @Html.LabelFor(model => model.Tag.Code, htmlAttributes: new { @class = "control-label col-md-4" })
                    <div class="col-md-6">
                        @Html.EditorFor(model => model.Tag.Code, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.Tag.Code, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.Tag.Name, htmlAttributes: new { @class = "control-label col-md-4" })
                    <div class="col-md-6">
                        @Html.EditorFor(model => model.Tag.Name, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.Tag.Name, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    <div class="col-md-offset-4 col-md-6">
                        <input type="submit" value="Save" class="btn btn-success" />

                        @Html.ActionLink("Back", "MyRedirect", new { url = Model.ReturnUrl }, new { @class = "btn btn-default" })
                    </div>
                </div>
            </div>
        }
    </div>
</div>



